.product-container {
    display: flex;
    border-bottom: 1px solid lightgray;
    margin: 10px;
}

.product-image {
    margin: 5px;
}

.add-to-cart {
    background-color: goldenrod;
    border : 1px solid grey;
    height: 30px;
    width: 150px;
    border-radius: 5px;
    margin-bottom:20px;
    cursor: pointer;

}

a {
    text-decoration: none;
}